.text {
  font-weight: 700;
  font-size: 0.95rem;
  color: #313c47;
}

.text-2 {
  font-weight: 700;
  font-size: 1rem;
  color: #313c47;
  text-decoration: underline;
}

.log-list-title {
  margin-bottom: -5px;
  padding-bottom: 0%;
  font-weight: 600;
  margin-left: 25px;
  color: #47515b;
}

.log-list {
  background-color: #ffffff;
}

.log-list-item {
  --padding-start: 0px;
  --background: #ffffff;
}

.log-list-card {
  border-radius: 10px;
  background-color: #ffffff;
}
